*/
!Packages/
!Packages/User/
Packages/User/GoSublime/

*.cache
Package Control.last-run
*.sublime-project
*.sublime-workspace

Packages/User/Gist.sublime-settings
Packages/User/trailing_spaces.sublime-settings

